@use '../../base';

.time {
    font-family: base.$lekton;
    font-size: 16px;
    letter-spacing: -0.04em;
    padding-top: 40px;
    height: 50px;
    display: flex;
    align-items: center;

    // desktop
    @media screen and (min-width: base.$desktop) {
        padding-top: 15px;
        height: unset;
    }
}