@use '../../../../base';

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: base.$tablet) {
        padding-top: 200px;
    }
}

.pin-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title {
    font-family: base.$italiana;
    font-size: 32px;
    margin-bottom: 20px;
}

.dash {
    $stroke: 1px;

    height: $stroke;

    background-position-y: bottom;
    background-size: 10px $stroke;
    background-repeat: repeat-x;
}

.timeline {
    margin: 30px 0;
    font-family: base.$titillium;
    font-size: 18px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: base.$tablet) {
        margin: 50px 0;
        width: 100%;
        flex-direction: row;
    }

    .timeline-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: base.$tablet) {
            justify-content: center;
        }

        .year {
            font-weight: bold;
            text-align: center;
        }

        .role {
            font-weight: 300;
            text-align: center;


            &.--present {
                padding: 6px 0;
                background-image: linear-gradient(90deg, #9275A9, #004A77);
                border-radius: 20px;
            }
        }

        .line {
            background-image: linear-gradient(to right, white 33%, rgba(255,255,255,0) 0%);
        }
    }

    .line-mask {
        position: absolute;
        top: 0;
        width: 0;
        height: calc(50% + 1px);

        background-image: linear-gradient(to right, base.$purple 33%, rgba(255,255,255,0) 0%);
    }

    .curve-mask {
        height: 0;
        overflow-y: hidden;
    }

    .mini-lev {
        position: absolute;
        top: -10px;
        left: 0;
        width: 0;
    }

    .present-marker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        position: absolute;
        opacity: 0;

        font-size: 16px;
        font-family: base.$titillium;
        font-weight: 300;

        @media screen and (min-width: base.$tablet) {
            top: 200%;
        }

        .arrow {
            height: 30px;
        }
    }
}

.keep-scrolling {
    animation: 25s linear 0s infinite normal none running moveInCircle;
    opacity: 0;

    width: 80px;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 60px;

    @media screen and (min-width: base.$tablet) {
        width: 95px;
        height: 95px;
        margin-top: 60px;
        margin-bottom: 0;
    }
}


@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}