@use '../../../base';

.about-divider {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;

    padding: 14px 0;
    margin-top: 100px;

    $border: 4px solid white;
    border-top: $border;
    border-bottom: $border;
    
    font-size: 22px;

    @media screen and (min-width: base.$desktop) {
        font-size: 40px;
    }

    .divider-line {
        display: flex;
        flex-direction: row;
    }

    .text-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        white-space: nowrap;

        .circle {
            $size: 4px;
            width: $size;
            height: $size;
            background-color: base.$accent;

            @media screen and (min-width: base.$desktop) {
                $size: 6px;
                width: $size;
                height: $size;
            }
        }
    }
}