@use '../../../base';

.emoji-divider-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 150px 0 0px 0;

    @media screen and (min-width: base.$desktop) {
        margin: 250px 0 50px 0;
    }
}

.emoji-divider {
    display: flex;
    flex-direction: row;
    align-items: start;
    $gap: 10px;
    gap: $gap;
    padding-left: $gap;

    .item {
        $size: 40px;
        width: $size;

        svg {
            fill: base.$white;
            width: $size;
            color: base.$accent;
        }

        @media screen and (min-width: base.$desktop) {
           $size: 60px;
           width: $size;

           svg { width: $size };
        }
    }

    .accent svg{
        fill: base.$accent;
    }
}