@use '../../../base';

.carrot-model {
    $size: 350px;
    width: $size;
    height: $size;
    overflow: visible;

    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }

    @media screen and (min-width: base.$desktop) {
        margin-left: 100px;
        $size: 600px;
        min-width: $size;
        height: $size;
    }
}