@use '../../../../base';

.quote-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .quote-content {
        display: flex;
        flex-direction: column;

        .subtext {
            font-family: base.$lekton;
            font-weight: bold;
            font-size: 22px;
        }

        .text {
            font-family: base.$roboto;
            font-weight: 500;
            font-style: italic;
            font-size: 56px;
            letter-spacing: 0.05em;
        }
    }

    .quote-model {

    }
}