@use '../../base';

.mobile-navbar {
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    
    padding: 40px 30px;
    height: 50px;

    .menu-button {
        padding: 10px;
    }
}

.mobile-menu {
    display: flex;
    flex-direction: row;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 100%;
    background-color: base.$black;

    z-index: -1;

    width: 100%;
    padding-top: 150px;
    
    font-family: base.$neuemontreal;
    font-size: 30px;

    &-container {
        position: relative;
        width: 100%;
    }

    &-chosen {
        position: absolute;
        top: 0;
        left: 80px;
        display: flex;
        align-items: center;

        font-weight: bold;
        color: base.$accent;
    }

    &-items {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
    }

    &-item {
        padding-right: 100px;

        &.--active {
            font-weight: 600;
            font-style: italic;
            color: base.$accent;
        }
    }
}