@use '../../../../base';

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 300px 0;

    position: relative;
}

.sticky-container {
    position: sticky;
    top: 20%;
    align-self: flex-start;

    .photo-title {
        font-family: base.$lekton;
        font-weight: bold;
        font-size: 18px;
        color: base.$white;
    }

    .photo-container {
        $width: 228px;
        $height: 300px;
        $border: 6px;
        position: relative;
        
        .photo {
            width: $width;
            height: $height;
            border: solid $border base.$white;
        }

        .sparkle-big {
            position: absolute;
            top: calc($height * 0.2);
            left: calc($width * 0.8);
            width: calc($width * 0.15);

            &.--alt {
                top: calc($height * 0.22)
            }
        }

        .sparkle-small {
            position: absolute;
            top: calc($height * 0.55);
            left: calc($width * 0.1);
            width: calc($width * 0.12);

            &.--alt {
                top: calc($height * 0.52);
            }
        }
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    width: 500px;

    .section {
        &-title {
            font-family: base.$lekton;
            font-weight: bold;
            font-size: 18px;
        }

        &-text {
            font-family: base.$roboto;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.8;
            color: base.$white;
        }
    }
}