@use '../../../../base';

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: 100%;
}

// MOBILE SPECIFIC
.links-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    gap: 60px;
    height: 90vh;
    width: 100%;
    margin-bottom: 100px;

    .sparkle {
        position: absolute;
        
        &.--big {
            top: 75%;
            left: 15%;
        }   

        &.--small {
            top: 20%;
            left: 75%;
        }

    }
}

// DESKTOP SPECIFIC
.top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    .button-row {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;

        .circle-arrow {
            position: absolute;
            top: 120%;
            left: calc(50% + 135px + 20px); //135px = img/2

            $height: 80px;
            height: $height;

            animation: scaleUp 2s infinite ease-in-out;

            svg {
                height: $height;
            }
        }
    }

    .content-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.reasons-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 30px;
    padding: 50px 0;

    @media screen and (min-width: base.$desktop) {
        margin-top: 100px;
        gap: 120px;
        overflow: visible;
    }
}

// COMPONENTS
.squigly-line-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    margin-top: 70px;

    @media screen and (min-width: base.$desktop) {
        margin: 0;
        width: 180px;
        height: 1000px;
        align-items: center;
    }

    .squiggly-line {
        display: flex;
        flex-direction: row;
        $size: 40px;
        height: $size;
        width: $size;

        @media screen and (min-width: base.$desktop) {
            width: 60px;
            height: fit-content;
        }

        svg {
            height: $size;
            width: $size;
            margin-bottom: 0;

            @media screen and (min-width: base.$desktop) {
                margin-bottom: -1px;
                transform: none;
                width: 60px;
                height: fit-content;
            }
        }

        &.--top {
            svg {
                transform: rotate(-90deg);
                margin-right: -1px;
            }
        }

        &.--bottom {
            svg {
                transform: rotate(90deg) translateX(-5px) translateY(50%);
                margin-left: -1px;
            }
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    margin: 80px 40px 0 40px;
    text-align: center;

    @media screen and (min-width: base.$desktop) {
        margin-top: 200px;
        text-align: start;
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .heading {
        font-family: base.$playfair;
        font-size: 28px;
        font-weight: bold;
        font-style: italic;
        color: base.$accent;

        &.--special {
            font-size: 32px;
            font-style: normal;
            color: base.$white;
        }

        @media screen and (min-width: base.$desktop) {
            color: base.$white;
        }
    }
    
    .content {
        line-height: 130%;
        font-weight: 300;
        letter-spacing: 0.03em;
        
        p {
            margin: 0 0 10px 0;
        }
    }

    .accent {
        font-weight: 600;
        font-style: italic;
    }
}

.info-one {
    gap: 70px;

    @media screen and (min-width: base.$desktop) {
        width: 30%;
        min-width: 420px;
        text-align: end;
    }

    .sparkle-heading {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4px;

        @media screen and (min-width: base.$desktop) {
            align-self: end;
        }

        .sparkle {
            $size: 30px;
            width: $size;
            height: $size;

            svg {
                width: $size;
                height: $size;
            }
        }
    }
}

.info-two {
    margin-top: 60px;

    @media screen and (min-width: base.$desktop) {
        margin-top: 200px;
        min-width: 630px;
        width: 45%;    
    }

    .section {
        gap: 50px;

        @media screen and (min-width: base.$desktop) {
            gap: 70px;
        }
    }

    .subsection {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .subheading {
            font-size: 20px;
            font-style: italic;
            color: base.$accent;
        }
    }

    .subsection-row {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media screen and (min-width: base.$desktop) {
            flex-direction: row;
        }

        .subsection {
            @media screen and (min-width: base.$desktop) {
                width: 50%;
                max-width: 350px;
            }
        }
    }
}

.hire-me {
    width: 100%;
    margin: 80px 0 10px 0;

    @media screen and (min-width: base.$desktop) {
        width: unset;
        margin: 0 100px;
    }

    span {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        background-color: base.$accent;
        color: white;
    
        -webkit-text-stroke: 5px base.$black;
        paint-order: stroke fill;
    
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 0.04em;
    
        padding: 30px 0;
    
        $border: 8px;
        border: $border solid white;
        width: calc(100% - $border*2);
    
        @media screen and (min-width: base.$desktop) {
            font-size: 32px;
            border-radius: 100px;
            padding: 22px 30px;
            width: unset;
            border: none;
        }
    }

    .arrows {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        &.--top {
            align-items: end;
            margin-bottom: 20px;

            .slight-curve {
                transform: rotate(-30deg);
                margin-bottom: 6px;
                margin-left: 10px;
            }
            
            .double-loop {
                transform: rotate(50deg);
                margin-bottom: 20px;
                margin-left: 10px;

            }
            .circled {
                $size: 45px;
                width: $size;
                height: $size;
                transform: rotate(70deg) scale(-1, 1);
            }
        }
        &.--bottom {
            align-items: start;
            margin-top: 20px;

            .circled {
                $size: 45px;
                width: $size;
                height: $size;
                transform: rotate(-90deg) scale(-1, 1);
            }
            .slight-curve {
                $size: 50px;
                width: $size;
                height: $size;
                margin-top: 10px;
                transform: rotate(190deg) scale(-1, 1);

            }
            .loop {
                transform: rotate(180deg);
            }
        }
    }
}

.link-button {
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.03em;
    overflow-x: hidden;

    .line {
        width: 100%;
        height: 4px;
        background-color: base.$accent;
    }
}

.reason-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 30px;
}

.reason-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 20px;

    @media screen and (min-width: base.$desktop) {
        flex-direction: row;
        gap: 30px;
        margin: 0;
    }

    &.align-start {
        flex-direction: row;
    }

    &.align-end {
        flex-direction: row-reverse;
        text-align: end;
    }

    .number {
        color: base.$accent;
        font-family: base.$playfairSmall;
        font-size: 100px;
        line-height: 100%;

        @media screen and (min-width: base.$desktop) {
            font-size: 90px;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 6px;

        @media screen and (min-width: base.$desktop) {
            gap: 10px;
            width: 350px;
        }

        .heading {
            text-transform: uppercase;
            white-space: pre-wrap;
            font-weight: 500;
            font-size: 18px;

            @media screen and (min-width: base.$desktop) {
                font-size: 24px;
            }
        }

        .subtext {
            font-weight: 300;
        }
    }
}

.curved-line-divider {
    display: flex;
    flex-direction: row;
    width: min-content;
}

.photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;

    margin: 70px 80px 0 80px;

    img {
        $border: 4px;
        box-shadow:
            0 0 0 $border base.$accent,
            0 0 0 calc($border * 2) base.$black,
            0 0 0 calc($border * 3) base.$white
    }

    .sparkle {
        position: absolute;
    }

    .description {
        font-family: base.$playfairSmall;
        font-style: italic;
        font-size: 18px;
    }

    .about {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .about-row {
            text-align: justify;
            text-justify: inter-word;

            .subheading {
                color: base.$accent;
                font-weight: 600;
                font-style: italic;
            }
        }
    }
}

@keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.85);
    }
    100% {
      transform: scale(1);
    }
}