@use '../../../../base';

.about-container {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;

    @media screen and (min-width: base.$desktop) {

    }
}

// DESKTOP SPECIFIC
.top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


// MOBILE SPECIFIC


// COMPONENTS
.squigly-line-container {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;

    svg {
        margin-bottom: -1px;
        width: 60px;
        height: fit-content;
    }
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 200px;

    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    .heading {
        font-family: base.$playfair;
        font-size: 28px;
        font-weight: bold;
        font-style: italic;
    }
    
    .content {
        line-height: 130%;
        font-weight: 300;
        letter-spacing: 0.03em;
        
        
        p {
            margin: 0 0 10px 0;
        }
    }

    .accent {
        font-weight: 600;
        font-style: italic;
    }

}

.info-one {
    min-width: 420px;
    width: 30%;
    gap: 70px;

    text-align: end;

    .sparkle-heading {
        display: flex;
        flex-direction: row;
        align-self: end;
        gap: 4px;

        .sparkle {
            $size: 30px;
            width: $size;
            height: $size;

            svg {
                width: $size;
                height: $size;
            }
        }
    }
}

.info-two {
    min-width: 630px;
    width: 45%;

    .section {
        gap: 70px;
    }

    .subsection {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .subheading {
            font-size: 20px;
            font-style: italic;
            color: base.$accent;
        }
    }

    .subsection-row {
        display: flex;
        flex-direction: row;
        gap: 50px;

        .subsection {
            width: 50%;
            max-width: 350px;
        }
    }
}

