@use '../../../../base';

.hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .get-in-touch {
        display: none;
        // margin-top: 40px;
        // margin-bottom: 60px;

        // desktop
        @media screen and (min-width: base.$desktop) {
            display: flex;
            margin-top: 100px;
            margin-bottom: 20px;
        }
    }

    .hero-text {
        font-size: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // width: 1200px;
        margin-top: 40px;

        // desktop
        @media screen and (min-width: base.$desktop) {
            margin-top: 0;
            font-size: 90px;
        }

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 76px;

            @media screen and (min-width: base.$desktop) {
                height: 120px;
            }
        }

        .row-one {
            @media screen and (min-width: base.$desktop) {
                margin-right: 50px;
            }

            span {
                font-weight: 500;
            }

            .lottie-eye {
                height: 80px;
                width: fit-content;

                @media screen and (min-width: base.$desktop) {
                    height: 160px;
                }
            }

            .lottie-globe {
                $size: 86px;
                width: $size;
                height: $size;
                margin-left: -6px;
            }

            .front {
                align-items: end;
            }

            .end {
                margin-left: 56px;
                gap: 10px;
            }
        }

        .heart {
            display: flex;
            align-items: center;

            svg {
                fill: base.$accent;
                $size: 40px;
                width: $size;
                height: $size;

                @media screen and (min-width: base.$desktop) {
                    $size: 85px;
                    width: $size;
                    height: $size;
                    margin-right: 10px;
                }
            }
        }

        .row-two {
            // margin-right: 350px;
            
            @media screen and (min-width: base.$desktop) {
                margin-right: 350px;
            }

            span {
                font-style: italic;
            }

            img {
                height: 60px;
                margin-left: 10px;
            }
        }

        .row-three {
            @media screen and (min-width: base.$desktop) {
                margin-left: 25px;
            }

            .lottie-globe {
                $size: 150px;
                width: $size;
                height: $size;
            }

            span {
                font-weight: bold;
            }
        }

        .row-four {
            width: 100%;
            height: fit-content;
            justify-content: space-between;
            margin-top: 30px;
            
            @media screen and (min-width: base.$desktop) {
                width: fit-content;
                margin-top: 0px;
            }

            span {
                font-family: base.$playfair;
                color: base.$accent;

                @media screen and (min-width: base.$desktop) {
                    font-size: 110px;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 14px;
                height: 150px;

                .lev {
                    font-size: 86px;
                }
    
                .fokichev {
                    font-size: 52px;
                }
            }


            .smiley {
                overflow: hidden;
                margin: 0 15px;
                display: flex;
                align-items: center;

                .smiley-icon {
                    $size: 84px;
                    width: $size;
                    height: $size;
                    animation: 25s linear 0s infinite normal none running moveInCircle;
                    
                    @media screen and (min-width: base.$desktop) {
                        $size: 95px;
                        width: $size;
                        height: $size;
                    }
                }
            }

            .arrow {
                overflow: hidden;

                svg {
                    height: 150px;
                    width: auto;
                }
            }
        }
    }

    // .smiley {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     justify-content: center;

    //     $padding: 40px;
    //     padding: 0 $padding;
    //     width: calc(100% - $padding*2);

    //     @media screen and (min-width: base.$desktop) {
    //         justify-content: start;
    //     }

    //     .smiley-icon {
    //         width: 75px;
    //         animation: 25s linear 0s infinite normal none running moveInCircle;
            
    //         @media screen and (min-width: base.$desktop) {
    //             width: 95px;
    //         }
    //     }
    // }
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

