@use '../../../../base';

.hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .smiley {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        $padding: 40px;
        padding: 0 $padding;
        width: calc(100% - $padding*2);

        @media screen and (min-width: base.$desktop) {
            justify-content: start;
        }

        .smiley-icon {
            width: 75px;
            animation: 25s linear 0s infinite normal none running moveInCircle;
            
            @media screen and (min-width: base.$desktop) {
                width: 95px;
            }
        }
    }
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

