// BREAKPOINTS
$mobile: 200px;
$tablet: 768px;
$desktop: 1000px;

// FONTS
// Playfair
$playfair: 'Playfair', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
@font-face {
    font-family: "Playfair";
    src: url('/src/assets/fonts/Playfair/Playfair_144pt-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Playfair";
    src: url('/src/assets/fonts/Playfair/Playfair_144pt-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Playfair";
    src: url('/src/assets/fonts/Playfair/Playfair_144pt-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Playfair";
    src: url('/src/assets/fonts/Playfair/Playfair_144pt-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Playfair";
    src: url('/src/assets/fonts/Playfair/Playfair_144pt-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

// PlayfairSmall
$playfair: 'PlayfairSmall', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
@font-face {
    font-family: "PlayfairSmall";
    src: url('/src/assets/fonts/PlayfairSmall/Playfair_9pt-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "PlayfairSmall";
    src: url('/src/assets/fonts/PlayfairSmall/Playfair_9pt-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PlayfairSmall";
    src: url('/src/assets/fonts/PlayfairSmall/Playfair_9pt-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "PlayfairSmall";
    src: url('/src/assets/fonts/PlayfairSmall/Playfair_9pt-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

// NeueMontreal
$neuemontreal: 'NeueMontreal', Arial, Helvetica, sans-serif;
@font-face {
    font-family: "NeueMontreal";
    src: url('/src/assets/fonts/NeueMontreal/PPNeueMontreal-Book.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NeueMontreal";
    src: url('/src/assets/fonts/NeueMontreal/PPNeueMontreal-Italic.otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "NeueMontreal";
    src: url('/src/assets/fonts/NeueMontreal/PPNeueMontreal-Medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "NeueMontreal";
    src: url('/src/assets/fonts/NeueMontreal/PPNeueMontreal-SemiBolditalic.otf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "NeueMontreal";
    src: url('/src/assets/fonts/NeueMontreal/PPNeueMontreal-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

// COLOURS
$black: #060606;
$white: white;
$gray: #AAADAC;
$accent: #D6FF00;

// TODO DEPRECATED, PHASE OUT
$blue: #0075BC;
$lightblue: #A0EAF2;
$orange: #F2620F;
$pink: #F74CC7;
$purple: #D5ACFF;
$red: #D90404;

.--black { color: $black; }
.--white { color: $white; }
.--gray { color: $gray; }
.--accent { color: $accent; }

// TODO DEPRECATED, PHASE OUT
.--blue { color: $blue; }
.--lightblue { color: $lightblue; }
.--orange { color: $orange; }
.--pink { color: $pink; }
.--red { color: $red; }