// BREAKPOINTS
$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;

// FONTS
// Italiana
@font-face {
    font-family: 'Italiana';
    src: url('/src/assets/fonts/Italiana-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
$italiana: 'Italiana', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// Lekton
@font-face {
    font-family: 'Lekton';
    src: url('/src/assets/fonts/Lekton-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lekton';
    src: url('/src/assets/fonts/Lekton-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
$lekton: 'Lekton', 'Courier New', Courier, monospace;

// Roboto
@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
$roboto: 'Roboto', Arial, Helvetica, sans-serif;

// TitilliumWeb
@font-face {
    font-family: 'TitilliumWeb';
    src: url('/src/assets/fonts/TitilliumWeb-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url('/src/assets/fonts/TitilliumWeb-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url('/src/assets/fonts/TitilliumWeb-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url('/src/assets/fonts/TitilliumWeb-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url('/src/assets/fonts/TitilliumWeb-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
$titillium: 'TitilliumWeb', Arial, Helvetica, sans-serif;

// COLOURS
$bg1: #060606;
$white: white;
$gray: #AAADAC;
$blue: #0075BC;
$lightblue: #A0EAF2;
$orange: #F2620F;
$pink: #F74CC7;
$purple: #D5ACFF;
$red: #D90404;

.--white { color: $white; }
.--gray { color: $gray; }
.--blue { color: $blue; }
.--lightblue { color: $lightblue; }
.--orange { color: $orange; }
.--pink { color: $pink; }
.--red { color: $red; }