@use 'base';

#root {
    background-color: base.$bg1;
    width: 100%;
    display: flex;
    justify-content: center;

    color: base.$white;
    font-family: base.$titillium, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
    // position: relative;
    // z-index: 1;
    width: 100%;
}

.margin-content {
    width: 1000px;
    // TODO breakpoint widths, this is desktop
}

.border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}