@use 'base';

#root {
    background-color: base.$black;
    width: 100%;
    display: flex;
    justify-content: center;

    color: base.$white;
    font-family: base.$neuemontreal, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-moz-selection { /* Code for Firefox */
    color: #1b00a3;
    background-color: base.$accent;
}
  
::selection {
    color: #1b00a3;
    background-color: base.$accent;
}

.app-container {
    // position: relative;
    // z-index: 1;
    width: 100%;
}

.border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

// scrollbar
body {
    --sb-track-color: #242424;
    --sb-thumb-color: #d6ff00;
    --sb-size: 14px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 9px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 9px;
    
}

@supports not selector(::-webkit-scrollbar) {
    body {
    scrollbar-color: var(--sb-thumb-color)
                    var(--sb-track-color);
    }
}