html, a{
    // cursor: none;
}

.custom-cursor {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    
    .cursor-center {
        position: absolute;
        background-image: url('../../assets/cursor-center.png');
        background-size: contain;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        pointer-events: none;
        overflow: hidden;
    }

    .cursor-border {
        position: absolute;
        background-color: transparent;
        border: 2px solid rgba(256, 256, 256, 0.8);
        border-radius: 50%;
        top: 0px;
        left: 0px;
        pointer-events: none;
        overflow: hidden;

    }

    img {
        max-width: 400px;
        max-height: 200px;
    }
}