@use '../../../../base';

.footer-container {
    width: 100%;
    position: relative;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .footer-content {
        z-index: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        mix-blend-mode: exclusion;

        @media screen and (min-width: base.$desktop) {
            pointer-events: none;
        }

        a {
            pointer-events: auto;
        }

        .top-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            height: 100%;
            margin-bottom: 50%;

            @media screen and (min-width: base.$desktop) {
                align-items: start;
                justify-content: start;

                $left: 15%;
                margin-top: 150px;
                margin-left: $left;
                width: calc(100% - $left);
            }

            .tilt {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;

                margin-bottom: 15%;

                font-style: italic;
                font-size: 14px;

                &.--reminder {
                    opacity: 0;
                }

                &.--permissions {
                    gap: 10px;
                    position: relative;

                    span {
                        border: 1px solid base.$accent;
                        border-radius: 100px;
                        padding: 6px 16px;
                        background-color: base.$black;
                        z-index: 10;
                        // background-color: base.$black;
                        // mix-blend-mode: initial;
                    }
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .heading {
                    display: flex;
                    flex-direction: column;
                    
                    font-family: base.$playfairSmall;
                    font-size: 68px;
                    color: base.$accent;
                    width: min-content;
                    white-space: nowrap;
    
                    @media screen and (min-width: base.$desktop) {
                        font-size: 78px;
                        margin-left: -8px;
                    }
    
                    .heading-line {
                        height: 4px;
                        width: 0%;
                        background-color: base.$accent;
                    }
                }
    
                .links {
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                    font-family: base.$neuemontreal;
                    font-style: italic;
                    font-size: 14px;
    
                    @media screen and (min-width: base.$desktop) {
                        gap: 30px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .bottom-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 6px;
    
        font-family: base.$neuemontreal;
        font-size: 16px;
        font-weight: 300;
        color: base.$accent;
    
        @media screen and (min-width: base.$desktop) {
            flex-direction: row;
            justify-content: space-between;
            $padding: 6px;
            padding: 0 $padding;
            width: calc(100% - #{$padding * 2});
        }
    
        a {
            color: base.$accent;
            text-decoration: underline;
            font-size: 16px;
    
            @media screen and (min-width: base.$desktop) {
                text-decoration: none;
            }
        }
    }
}